@media screen and (min-width: 1px) {

    #subreddits-list {
        list-style: none;
        transition: 500ms;
        position: fixed;
        top: 0px;
        right: 0;
        transform: translateX(100%);
        background-color: #fc6a5f;
        padding: 20px;
        color: black;
        max-height: 100vh;
        overflow-y: scroll;
        box-shadow: #00000070 0px 2px 5px 0px;
        max-width: 100%;
    }

    .subreddit-image {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 15px;
        border: 1px solid black;    
        background-color: var(--Lightest);
    }

    li.subreddit-list-row {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        padding-right: 10px;
        transition: 250ms;
        border-radius: 15px;
    }

    li.subreddit-list-row:hover {
        cursor: pointer;
        background-color: rgb(255, 236, 211);
    }
}

@media screen and (min-width: 1000px) { 

    #subreddits-list {
        position: relative;
        margin-left: 25px;
        padding: 25px;
        transform: translateX(0%);
        overflow-y: initial;
        border-radius: 25px;
        text-align: center;
        height: fit-content;
    }
}