

@media screen and (min-width: 1px) {
    #posts-container {
        width: 700px;
        border: 1px solid black;
        padding: 25px;
    }
    
    .post-image {
        width: 100%;
    }
    
    .post-container {
        width: 100%;
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid black;
    }
    
    #post-list {
        list-style-type: none;
    }
}