* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --Lightest:white;
  --Mellow:#FBBA72;
  --Burnt:#CA5310;
  --Mahogany:#BB4D00;
  --Kobe:#8F250C;
}

p, a {
  font-size: 16px;
}

h2 {
  margin-bottom: 50px;
}

.App {
  width: 100%;
  padding:10px;
}

#main-container {
  display: flex;
  flex-direction: row;
}

#reddit-posts-container {
  min-width: 500px;
  margin-right: 50px;
}

#header {
  text-align: center;
}

#logo {
  margin-bottom: 20px
}